main {
  width: 100%;
  height: 100%;
}

main h1 {
  position: relative;
  display: inline-block;
  margin-bottom: 48px;
}

main h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ff4d4f;
  bottom: -5px;
  left: 0;
}

main > div {
  padding: 0 32px;
}

main table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-spacing: 1px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

main table th,
main table td {
  padding: 10px;
  max-width: 200px;
}

main table tr button {
  border: none;
  background: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.container-button-add {
  margin-bottom: 16px;
}

.container-button-add button {
  margin-left: auto;
  display: block;
  border: none;
  padding: 8px 16px;
  background-color: #ff4d4f;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.container-button-add button:hover {
  background-color: #ff7875;
  color: #fff;
}

.container-button-add button:active {
  background-color: #ff4d4f;
  color: #fff;
}

.button-danger:hover {
  background-color: #ff7875;
  color: #fff;
}

.button-danger,
.button-danger:active {
  background-color: #ff4d4f;
  color: #fff;
}
