<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humilde Farma</title>
</head>
<body>
    <h1>Bem-vindo à humilde farma</h1>
    <p>Oferecendo uma ampla variedade de produtos farmacêuticos com preços humildes.</p>
    <p><a href="{{ url_for('produtos') }}">Ver Produtos</a></p>
    <p><a href="{{ url_for('contato') }}">Contato</a></p>
    <p><a href="{{ url_for('sobre') }}">Sobre Nós</a></p>
</body>
</html>
